* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #202020;
}

html {
  font-size: 62.5%;
  font-family: "urbanist";
}

body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: #000;
}

a:hover {
  color: #2e86c1;
}

button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  border-width: 0.1rem;
  border-style: solid;
  margin-top: 1.6rem;
}

.container {
  max-width: 140rem;
  margin: auto;
}

.grid {
  display: grid;
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
  color: #fff;
}

nav ul li a {
  color: #fff;
}

.Logo a {
  text-decoration: none;
}

.Logo h1:hover {
  color: #2e86c1;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* Layout  */

header {
  height: 10rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #202020;
  width: 100%;
}

header .container {
  height: 10rem;
}

.ham-menu {
  display: none;
}

/* hero section  */

.hero-section .container {
  padding: 3.2;
  margin: 9rem auto;
  gap: 6.4rem;
}

.paragraph {
  margin: 3.2rem 0;
}

.heading-xl {
  font-family: inherit;
  font-size: clamp(5.2rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .banner-image {
  width: 100%;
}

/* About Section  */

.section-about {
  margin: 0 auto 9rem auto;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 55rem;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  padding: 40px;
}

@media screen and (max-width: 990px) {
  .hero-content {
    order: 1;
  }

  .container .banner-image {
    width: 80%;
    order: 0;
  }
}
